<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Ristorante Con Fusion: About Us</title>

</head>
<%- include("partials/header") %>
<!-- Form starts -->
<body>    

    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Clothes 4 You</h1>
                    <p>We take inspiration from the World's best shopping sites, and create a unique experience in fashion world. Trying to deliver all services to customers!</p>
                </div>
                <div class="col-12 col-sm align-self-center">
                    <img src="partials/logo.png" alt="">
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h2>Our History</h2>
                    <p>Started in 2015, Clothes 4 You shopping site inspire by the many big companies. The main purpose of this website is to overcome the all the limitations of that companies. Every day we try to give best to the 
                        our customers. We are first to the combine the ready-made clothes and customized clothes in one place</p>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="card">
                        <h3 class="card-header bg-primary text-white">Facts At a Glance</h3>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-6">Started</dt>
                                <dd class="col-6">3 Feb. 2015</dd>
                                <dt class="col-6">Major Stake Holder</dt>
                                <dd class="col-6">JK Travelling</dd>
                                <dt class="col-6">Last Year's Turnover</dt>
                                <dd class="col-6">450000 RS</dd>
                                <dt class="col-6">Employees</dt>
                                <dd class="col-6">40</dd>
                            </dl>                        
                        </div>
                    </div>
                </div>
                <div class="col-12 m-4 ">
                    <div class="card card-body bg-light">
                        <blockquote class="blockquote">
                            <p class="mb-0">"Elegance is not standing out, but being remembered."</p>
                                <cite title="Source Title"> -- Giorgio Armani</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row-content">
                <hr>
                <h2>Corporate Leadership</h2>

                <div id="accordion">
                    <div class="card">
                        <div class="card-header" role="tab" id="peterhead">
                        <h3 class="mb-0">
                            <a data-toggle="collapse" data-target="#peter">
                                Peter Pan <small>Chief Epicurious Officer</small>
                            </a>
                        </h3>
                        </div>
                        <div class="collapse show" id="peter" data-parent="#accordion">
                            <div class="card-body">
                                <p class="d-none d-sm-block">Our CEO, Peter, credits his hardworking East Asian immigrant parents who undertook the arduous journey to the shores of America with the intention of giving their children the best future. His mother's wizardy in the kitchen whipping up the tastiest dishes with whatever is available inexpensively at the supermarket, was his first inspiration to create the fusion cuisines for which <em>The Frying Pan</em> became well known. He brings his zeal for fusion cuisines to this restaurant, pioneering cross-cultural culinary connections.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="dannyhead">
                        <h3 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-target="#danny">
                                Dhanasekaran Witherspoon <small>Chief Food Officer</small>
                            </a>
                        </h3>
                        </div>
                        <div class="collapse" id="danny" data-parent="#accordion">
                            <div class="card-body">
                                <p class="d-none d-sm-block">Our CEO, Peter, credits his hardworking East Asian immigrant parents who undertook the arduous journey to the shores of America with the intention of giving their children the best future. His mother's wizardy in the kitchen whipping up the tastiest dishes with whatever is available inexpensively at the supermarket, was his first inspiration to create the fusion cuisines for which <em>The Frying Pan</em> became well known. He brings his zeal for fusion cuisines to this restaurant, pioneering cross-cultural culinary connections.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="agumbehead">
                        <h3 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-target="#agumbe">
                                Dhanasekaran Witherspoon <small>Chief Food Officer</small>
                            </a>
                        </h3>
                        </div>
                        <div class="collapse" id="agumbe" data-parent="#accordion">
                            <div class="card-body">
                                <p class="d-none d-sm-block">Our CEO, Peter, credits his hardworking East Asian immigrant parents who undertook the arduous journey to the shores of America with the intention of giving their children the best future. His mother's wizardy in the kitchen whipping up the tastiest dishes with whatever is available inexpensively at the supermarket, was his first inspiration to create the fusion cuisines for which <em>The Frying Pan</em> became well known. He brings his zeal for fusion cuisines to this restaurant, pioneering cross-cultural culinary connections.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="albertohead">
                        <h3 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-target="#alberto">
                                Dhanasekaran Witherspoon <small>Chief Food Officer</small>
                            </a>
                        </h3>
                        </div>
                        <div class="collapse" id="alberto" data-parent="#accordion">
                            <div class="card-body">
                                <p class="d-none d-sm-block">Our CEO, Peter, credits his hardworking East Asian immigrant parents who undertook the arduous journey to the shores of America with the intention of giving their children the best future. His mother's wizardy in the kitchen whipping up the tastiest dishes with whatever is available inexpensively at the supermarket, was his first inspiration to create the fusion cuisines for which <em>The Frying Pan</em> became well known. He brings his zeal for fusion cuisines to this restaurant, pioneering cross-cultural culinary connections.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-12 col-sm-9">
                    <h2>Facts &amp; Figures</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>2013</th>
                                    <th>2015</th>
                                    <th>2017</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Employees</th>
                                    <td>15</td>
                                    <td>30</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <th>Guests Served</th>
                                    <td>15000</td>
                                    <td>45000</td>
                                    <td>100,000</td>
                                </tr>
                                <tr>
                                    <th>Special Events</th>
                                    <td>3</td>
                                    <td>20</td>
                                    <td>45</td>
                                </tr>
                                <tr>
                                    <th>Annual Turnover</th>
                                    <td>251,325</td>
                                    <td>1,250,375</td>
                                    <td>4,000,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                 <div class="col-12 col-sm-3">
                </div>
           </div> 
       </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 col-sm-2 offset-1">
                    <h5>Links</h5>
                    <ul class="list-ustyled">
                        <li><a href="home">Home</a></li>
                        <li><a href="customizedclothing">customized clothing </a></li>
                        <li><a href="aboutus">About us</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
                        121, Clear Water Bay Road<br>
                        Nihar niwas, Bandra(W)<br>
                        Mumbai<br>
                        <i class="fa fa-phone fa-lg"></i>: +91 1234 5678<br>
                        <i class="fa fa-fax fa-lg"></i>: +91 8765 4321<br>
                        <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:confusion@food.net">clothes4youshopping@gmail.com</a>
                     </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2020 Clothes 4 You</p>
                </div>
           </div>
        </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
  <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    
</body>

</html>
